/*林俊杰*/

body {
    background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

#banner {
    background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

#maincontent {
    border: 4px solid gray;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

#left {
    width: 550px;
}

#lefttop {
    background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
    background-repeat: repeat-x;
    background-size: 10px 83px;
    height: 83px;
}

#lefttop #text {
    position: relative;
    bottom: 12px;
    left: 5px;
    color: white;
}

#lefttop span span {
    font-size: 48pt;
    color: red;
    font-weight: bold;
}

#leftdown #leftcol {
    width: 47%;
    padding: 0px;
    float: left;
    margin: 2% 1% 2% 2%;
    ;
}

#leftdown #rightcol {
    width: 47%;
    padding: 0px;
    float: left;
    margin: 2% 2% 2% 1%;
}

.box {
    margin-bottom: 3em;
}

.comment {
    font-weight: bold;
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    margin: 0px;
    overflow: hidden;
}

.comment img {
    float: left;
    margin-right: 5px;
}

.people img {
    float: left;
    margin-right: 5px;
}

.people span {
    font-style: italic;
}

#right {
    width: 250px;
    float: right;
    background-color: #A2B964;
}

#rightdown {
    font-family: Arial, sans-serif;
    padding-left: 10px;
}

#rightdown dt {
    margin-top: 1em;
    font-weight: bold;
}

#foot {
    clear: both;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
    position: relative;
    bottom: 0px;
    margin: 0px;
}

#check {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
