html
  body
    section#promo.promo.section.offset-header
      .container.text-center
        h1(style='color:#fff;font-size:130px;') 404
        h2(style='color:rgba(255,255,255,0.7);margin-bottom:500px;') {{errorMessage}}